In [80]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
from sklearn.preprocessing import LabelEncoder

import torch
import torch.nn.functional as F
from torch_geometric.data import HeteroData
from torch_geometric.loader import NeighborLoader, LinkNeighborLoader
import torch_geometric.transforms as T
from torch_geometric.nn import SAGEConv, GATConv, Linear, to_hetero

In [76]:
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
device

device(type='cpu')

## Read data

In [2]:
movie_df = pd.read_csv('./datasets/movieLens100k/movie_info.csv', parse_dates=['release date'])
movie_df.drop(columns=['movie title', 'release date'], inplace=True, axis=1)
movie_df.rename(columns={'movie id': 'movie_id'}, inplace=True)
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie_id     1682 non-null   int64
 1   unknown      1682 non-null   int64
 2   Action       1682 non-null   int64
 3   Adventure    1682 non-null   int64
 4   Animation    1682 non-null   int64
 5   Children's   1682 non-null   int64
 6   Comedy       1682 non-null   int64
 7   Crime        1682 non-null   int64
 8   Documentary  1682 non-null   int64
 9   Drama        1682 non-null   int64
 10  Fantasy      1682 non-null   int64
 11  Film-Noir    1682 non-null   int64
 12  Horror       1682 non-null   int64
 13  Musical      1682 non-null   int64
 14  Mystery      1682 non-null   int64
 15  Romance      1682 non-null   int64
 16  Sci-Fi       1682 non-null   int64
 17  Thriller     1682 non-null   int64
 18  War          1682 non-null   int64
 19  Western      1682 non-null   int64
dtypes: int64(20)
memory usage: 262.9 KB

In [3]:
movie_df.head()

,movie_id,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0

In [4]:
user_df = pd.read_csv('./datasets/movieLens100k/user_demographics.csv')
user_df.drop(columns=['zip_code'], axis=1, inplace=True)
user_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     943 non-null    int64
 1   age         943 non-null    int64
 2   sex         943 non-null    object
 3   occupation  943 non-null    object
dtypes: int64(2), object(2)
memory usage: 29.6+ KB

In [5]:
user_df.head()

   user_id  age sex  occupation
0        1   24   M  technician
1        2   53   F       other
2        3   23   M      writer
3        4   24   M  technician
4        5   33   F       other

In [6]:
rating_df = pd.read_csv('./datasets/movieLens100k/ratings.csv')
rating_df.drop(columns=['unix_timestamp'], axis=1, inplace=True)
rating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   100000 non-null  int64
 1   movie_id  100000 non-null  int64
 2   rating    100000 non-null  int64
dtypes: int64(3)
memory usage: 2.3 MB

In [7]:
movie_df.head()

,movie_id,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0

## Preprocess ()

In [8]:
movie_id_encoder, user_id_encoder = LabelEncoder(), LabelEncoder()
sex_encoder, occupation_encoder = LabelEncoder(), LabelEncoder()

movie_df['movie_id'] = movie_id_encoder.fit_transform(movie_df['movie_id'])
user_df['user_id'] = user_id_encoder.fit_transform(user_df['user_id'])
rating_df['user_id'] = user_id_encoder.transform(rating_df['user_id'])
rating_df['movie_id'] = movie_id_encoder.transform(rating_df['movie_id'])

user_df['sex'] = sex_encoder.fit_transform(user_df['sex'])
user_df['occupation'] = occupation_encoder.fit_transform(user_df['occupation'])

In [9]:
user_df.head()

   user_id  age  sex  occupation
0        0   24    1          19
1        1   53    0          13
2        2   23    1          20
3        3   24    1          19
4        4   33    0          13

In [10]:
len(rating_df)

100000

In [11]:
df = rating_df.join(user_df.set_index('user_id'), on='user_id', validate='m:1')
df = df.join(movie_df.set_index('movie_id'), on='movie_id', validate='m:1')
df.shape

(100000, 25)

In [12]:
df.head()

,user_id,movie_id,rating,age,sex,occupation,unknown,Action,Adventure,Animation,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,195,241,3,49,1,20,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,185,301,3,39,0,6,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
2,21,376,1,25,1,20,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,243,50,2,28,1,19,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
4,165,345,1,47,1,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df.sort_values('movie_id')

,user_id,movie_id,rating,age,sex,occupation,unknown,Action,Adventure,Animation,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
25741,83,0,2,32,1,6,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
93639,805,0,4,27,1,11,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
55726,767,0,5,29,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
49529,91,0,4,32,1,5,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
89079,418,0,4,37,1,9,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75323,862,1677,1,17,1,18,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67302,862,1678,3,17,1,18,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
80394,862,1679,2,17,1,18,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
92329,895,1680,3,28,1,20,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95376,915,1681,3,27,1,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df.sort_values('user_id')

,user_id,movie_id,rating,age,sex,occupation,unknown,Action,Adventure,Animation,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
66567,0,54,5,24,1,19,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
62820,0,202,4,24,1,19,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10207,0,182,5,24,1,19,0,1,0,0,...,0,0,1,0,0,0,1,1,0,0
9971,0,149,5,24,1,19,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22496,0,67,4,24,1,19,0,1,0,0,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96823,942,426,4,22,1,18,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70902,942,11,5,22,1,18,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
84518,942,283,2,22,1,18,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
72321,942,61,3,22,1,18,0,1,1,0,...,0,0,0,0,0,0,1,0,0,0
70713,942,209,4,22,1,18,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

## Create hetero dataset

In [15]:
movie_df

,movie_id,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,3,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1677,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1678,1678,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
1679,1679,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1680,1680,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1681,1681,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [16]:
rating_df
# movie_df[movie_df.columns[1:]].values

       user_id  movie_id  rating
0          195       241       3
1          185       301       3
2           21       376       1
3          243        50       2
4          165       345       1
...        ...       ...     ...
99995      879       475       3
99996      715       203       5
99997      275      1089       1
99998       12       224       2
99999       11       202       3

[100000 rows x 3 columns]

In [54]:
data = HeteroData()

data['user'].x = torch.Tensor(user_df[user_df.columns[1:]].values)
data['movie'].x = torch.Tensor(movie_df[movie_df.columns[1:]].values)

data['user', 'rates', 'movie'].edge_index = torch.Tensor(rating_df[['user_id', 'movie_id']].values).to(torch.long).swapaxes(1, 0)
data['user', 'rates', 'movie'].edge_label = torch.Tensor(rating_df['rating'].values).to(torch.long)

data

HeteroData(
  user={ x=[943, 3] },
  movie={ x=[1682, 19] },
  (user, rates, movie)={
    edge_index=[2, 100000],
    edge_label=[100000]
  }
)

In [49]:
data.has_isolated_nodes(), data.has_self_loops(), data.is_undirected()

(False, False, False)

In [55]:
data = T.ToUndirected()(data)
#data = T.AddSelfLoops()(data)
# data = T.NormalizeFeatures()(data)

data

HeteroData(
  user={ x=[943, 3] },
  movie={ x=[1682, 19] },
  (user, rates, movie)={
    edge_index=[2, 100000],
    edge_label=[100000]
  },
  (movie, rev_rates, user)={
    edge_index=[2, 100000],
    edge_label=[100000]
  }
)

In [60]:
del data['movie', 'rev_rates', 'user'].edge_label
data

HeteroData(
  user={ x=[943, 3] },
  movie={ x=[1682, 19] },
  (user, rates, movie)={
    edge_index=[2, 100000],
    edge_label=[100000]
  },
  (movie, rev_rates, user)={ edge_index=[2, 100000] }
)

In [64]:
train_data, val_data, test_data = T.RandomLinkSplit(
    num_val=0.1,
    num_test=0.1,
    is_undirected=True,
    neg_sampling_ratio=0.0,
    edge_types=[('user', 'rates', 'movie')],
    rev_edge_types=[('movie', 'rev_rates', 'user')],
)(data)

In [69]:
# different types of nodes in Hetero graph
node_types, edge_types = data.metadata()
print('Different types of nodes in graph:',node_types)
print('Different types of edges in graph:',edge_types)

Different types of nodes in graph: ['user', 'movie']
Different types of edges in graph: [('user', 'rates', 'movie'), ('movie', 'rev_rates', 'user')]

In [68]:
weight = torch.bincount(train_data['user', 'movie'].edge_label)
weight = weight.max() / weight
weight

tensor([   inf, 5.6057, 2.9977, 1.2643, 1.0000, 1.6152])

In [70]:
def weighted_mse_loss(pred, target, weight=None):
    weight = 1. if weight is None else weight[target].to(pred.dtype)
    return (weight * (pred - target.to(pred.dtype)).pow(2)).mean()

In [72]:
class GNNEncoder(torch.nn.Module):
    def __init__(self, hidden_channels, out_channels):
        super().__init__()
        # these convolutions have been replicated to match the number of edge types
        self.conv1 = SAGEConv((-1, -1), hidden_channels)
        self.conv2 = SAGEConv((-1, -1), out_channels)

    def forward(self, x, edge_index):
        x = self.conv1(x, edge_index).relu()
        x = self.conv2(x, edge_index)
        return x

In [73]:
class EdgeDecoder(torch.nn.Module):
    def __init__(self, hidden_channels):
        super().__init__()
        self.lin1 = Linear(2 * hidden_channels, hidden_channels)
        self.lin2 = Linear(hidden_channels, 1)
        
    def forward(self, z_dict, edge_label_index):
        row, col = edge_label_index
        # concat user and movie embeddings
        z = torch.cat([z_dict['user'][row], z_dict['movie'][col]], dim=-1)
        # concatenated embeddings passed to linear layer
        z = self.lin1(z).relu()
        z = self.lin2(z)
        return z.view(-1)

In [74]:
class Model(torch.nn.Module):
    def __init__(self, hidden_channels):
        super().__init__()
        self.encoder = GNNEncoder(hidden_channels, hidden_channels)
        self.encoder = to_hetero(self.encoder, data.metadata(), aggr='sum')
        self.decoder = EdgeDecoder(hidden_channels)

    def forward(self, x_dict, edge_index_dict, edge_label_index):
        # z_dict contains dictionary of movie and user embeddings returned from GraphSage
        z_dict = self.encoder(x_dict, edge_index_dict)
        return self.decoder(z_dict, edge_label_index)

In [77]:
model = Model(hidden_channels=32).to(device)

In [78]:
with torch.no_grad():
    model.encoder(train_data.x_dict, train_data.edge_index_dict)

optimizer = torch.optim.Adam(model.parameters(), lr=0.01)

In [79]:
def train():
    model.train()
    optimizer.zero_grad()
    pred = model(train_data.x_dict, train_data.edge_index_dict,
                 train_data['user', 'movie'].edge_label_index)
    target = train_data['user', 'movie'].edge_label
    loss = weighted_mse_loss(pred, target, weight)
    loss.backward()
    optimizer.step()
    return float(loss)

In [81]:
@torch.no_grad()
def test(data):
    model.eval()
    pred = model(data.x_dict, data.edge_index_dict,
                 data['user', 'movie'].edge_label_index)
    pred = pred.clamp(min=0, max=5)
    target = data['user', 'movie'].edge_label.float()
    rmse = F.mse_loss(pred, target).sqrt()
    return float(rmse)

In [83]:
for epoch in range(1, 300):
    loss = train()
    train_rmse = test(train_data)
    val_rmse = test(val_data)
    test_rmse = test(test_data)
    print(f'Epoch: {epoch:03d},\tLoss: {loss:.4f},\tTrain: {train_rmse:.4f}, '
          f'\tVal: {val_rmse:.4f},\tTest: {test_rmse:.4f}')

Epoch: 001,	Loss: 3.0477,	Train: 1.2656, 	Val: 1.2727,	Test: 1.2719
Epoch: 002,	Loss: 3.0175,	Train: 1.1609, 	Val: 1.1678,	Test: 1.1670
Epoch: 003,	Loss: 2.9603,	Train: 1.1344, 	Val: 1.1405,	Test: 1.1401
Epoch: 004,	Loss: 2.9769,	Train: 1.2588, 	Val: 1.2651,	Test: 1.2651
Epoch: 005,	Loss: 3.0055,	Train: 1.1158, 	Val: 1.1221,	Test: 1.1210
Epoch: 006,	Loss: 2.9971,	Train: 1.1926, 	Val: 1.1998,	Test: 1.1980
Epoch: 007,	Loss: 2.9463,	Train: 1.2088, 	Val: 1.2161,	Test: 1.2140
Epoch: 008,	Loss: 2.9560,	Train: 1.1118, 	Val: 1.1183,	Test: 1.1168
Epoch: 009,	Loss: 3.0050,	Train: 1.2366, 	Val: 1.2429,	Test: 1.2425
Epoch: 010,	Loss: 2.9773,	Train: 1.1589, 	Val: 1.1648,	Test: 1.1644
Epoch: 011,	Loss: 2.9456,	Train: 1.1480, 	Val: 1.1540,	Test: 1.1534
Epoch: 012,	Loss: 2.9533,	Train: 1.2212, 	Val: 1.2276,	Test: 1.2269
Epoch: 013,	Loss: 2.9622,	Train: 1.1484, 	Val: 1.1548,	Test: 1.1537
Epoch: 014,	Loss: 2.9456,	Train: 1.1623, 	Val: 1.1687,	Test: 1.1677
Epoch: 015,	Loss: 2.9376,	Train: 1.2109, 	Val: 1.2175,	Test: 1.2158
Epoch: 016,	Loss: 2.9564,	Train: 1.1157, 	Val: 1.1219,	Test: 1.1207
Epoch: 017,	Loss: 2.9872,	Train: 1.2235, 	Val: 1.2298,	Test: 1.2288
Epoch: 018,	Loss: 2.9615,	Train: 1.1713, 	Val: 1.1772,	Test: 1.1769
Epoch: 019,	Loss: 2.9387,	Train: 1.1420, 	Val: 1.1475,	Test: 1.1475
Epoch: 020,	Loss: 2.9523,	Train: 1.2124, 	Val: 1.2179,	Test: 1.2181
Epoch: 021,	Loss: 2.9511,	Train: 1.1572, 	Val: 1.1629,	Test: 1.1624
Epoch: 022,	Loss: 2.9350,	Train: 1.1543, 	Val: 1.1606,	Test: 1.1594
Epoch: 023,	Loss: 2.9352,	Train: 1.2058, 	Val: 1.2125,	Test: 1.2105
Epoch: 024,	Loss: 2.9480,	Train: 1.1277, 	Val: 1.1341,	Test: 1.1327
Epoch: 025,	Loss: 2.9587,	Train: 1.2039, 	Val: 1.2098,	Test: 1.2091
Epoch: 026,	Loss: 2.9417,	Train: 1.1694, 	Val: 1.1748,	Test: 1.1749
Epoch: 027,	Loss: 2.9316,	Train: 1.1512, 	Val: 1.1565,	Test: 1.1566
Epoch: 028,	Loss: 2.9371,	Train: 1.2027, 	Val: 1.2085,	Test: 1.2080
Epoch: 029,	Loss: 2.9390,	Train: 1.1483, 	Val: 1.1545,	Test: 1.1532
Epoch: 030,	Loss: 2.9332,	Train: 1.1720, 	Val: 1.1784,	Test: 1.1767
Epoch: 031,	Loss: 2.9276,	Train: 1.1824, 	Val: 1.1888,	Test: 1.1870
Epoch: 032,	Loss: 2.9295,	Train: 1.1402, 	Val: 1.1463,	Test: 1.1450
Epoch: 033,	Loss: 2.9360,	Train: 1.2037, 	Val: 1.2097,	Test: 1.2087
Epoch: 034,	Loss: 2.9369,	Train: 1.1479, 	Val: 1.1539,	Test: 1.1532
Epoch: 035,	Loss: 2.9319,	Train: 1.1756, 	Val: 1.1817,	Test: 1.1811
Epoch: 036,	Loss: 2.9247,	Train: 1.1867, 	Val: 1.1929,	Test: 1.1921
Epoch: 037,	Loss: 2.9258,	Train: 1.1392, 	Val: 1.1454,	Test: 1.1445
Epoch: 038,	Loss: 2.9329,	Train: 1.2055, 	Val: 1.2121,	Test: 1.2105
Epoch: 039,	Loss: 2.9372,	Train: 1.1287, 	Val: 1.1352,	Test: 1.1339
Epoch: 040,	Loss: 2.9437,	Train: 1.2108, 	Val: 1.2175,	Test: 1.2161
Epoch: 041,	Loss: 2.9380,	Train: 1.1445, 	Val: 1.1508,	Test: 1.1500
Epoch: 042,	Loss: 2.9294,	Train: 1.1757, 	Val: 1.1818,	Test: 1.1812
Epoch: 043,	Loss: 2.9202,	Train: 1.1850, 	Val: 1.1912,	Test: 1.1905
Epoch: 044,	Loss: 2.9212,	Train: 1.1348, 	Val: 1.1412,	Test: 1.1404
Epoch: 045,	Loss: 2.9312,	Train: 1.2190, 	Val: 1.2260,	Test: 1.2238
Epoch: 046,	Loss: 2.9446,	Train: 1.1121, 	Val: 1.1190,	Test: 1.1178
Epoch: 047,	Loss: 2.9732,	Train: 1.2425, 	Val: 1.2492,	Test: 1.2480
Epoch: 048,	Loss: 2.9655,	Train: 1.1273, 	Val: 1.1335,	Test: 1.1333
Epoch: 049,	Loss: 2.9483,	Train: 1.1784, 	Val: 1.1844,	Test: 1.1845
Epoch: 050,	Loss: 2.9217,	Train: 1.2091, 	Val: 1.2152,	Test: 1.2146
Epoch: 051,	Loss: 2.9324,	Train: 1.1133, 	Val: 1.1195,	Test: 1.1186
Epoch: 052,	Loss: 2.9616,	Train: 1.2442, 	Val: 1.2513,	Test: 1.2487
Epoch: 053,	Loss: 2.9706,	Train: 1.1043, 	Val: 1.1115,	Test: 1.1101
Epoch: 054,	Loss: 2.9991,	Train: 1.2273, 	Val: 1.2336,	Test: 1.2335
Epoch: 055,	Loss: 2.9468,	Train: 1.1761, 	Val: 1.1814,	Test: 1.1828
Epoch: 056,	Loss: 2.9177,	Train: 1.1239, 	Val: 1.1287,	Test: 1.1303
Epoch: 057,	Loss: 2.9486,	Train: 1.2493, 	Val: 1.2554,	Test: 1.2544
Epoch: 058,	Loss: 2.9694,	Train: 1.1121, 	Val: 1.1194,	Test: 1.1181
Epoch: 059,	Loss: 2.9778,	Train: 1.1897, 	Val: 1.1962,	Test: 1.1951
Epoch: 060,	Loss: 2.9167,	Train: 1.2134, 	Val: 1.2190,	Test: 1.2185
Epoch: 061,	Loss: 2.9303,	Train: 1.1004, 	Val: 1.1052,	Test: 1.1058
Epoch: 062,	Loss: 2.9973,	Train: 1.2456, 	Val: 1.2517,	Test: 1.2508
Epoch: 063,	Loss: 2.9624,	Train: 1.1582, 	Val: 1.1655,	Test: 1.1642
Epoch: 064,	Loss: 2.9245,	Train: 1.1353, 	Val: 1.1420,	Test: 1.1413
Epoch: 065,	Loss: 2.9309,	Train: 1.2314, 	Val: 1.2364,	Test: 1.2363
Epoch: 066,	Loss: 2.9480,	Train: 1.1211, 	Val: 1.1252,	Test: 1.1268
Epoch: 067,	Loss: 2.9473,	Train: 1.1838, 	Val: 1.1891,	Test: 1.1894
Epoch: 068,	Loss: 2.9089,	Train: 1.1948, 	Val: 1.2016,	Test: 1.2004
Epoch: 069,	Loss: 2.9184,	Train: 1.1327, 	Val: 1.1398,	Test: 1.1383
Epoch: 070,	Loss: 2.9320,	Train: 1.1908, 	Val: 1.1965,	Test: 1.1957
Epoch: 071,	Loss: 2.9113,	Train: 1.1664, 	Val: 1.1712,	Test: 1.1718
Epoch: 072,	Loss: 2.9093,	Train: 1.1424, 	Val: 1.1474,	Test: 1.1480
Epoch: 073,	Loss: 2.9127,	Train: 1.1974, 	Val: 1.2034,	Test: 1.2028
Epoch: 074,	Loss: 2.9130,	Train: 1.1530, 	Val: 1.1599,	Test: 1.1588
Epoch: 075,	Loss: 2.9116,	Train: 1.1625, 	Val: 1.1689,	Test: 1.1682
Epoch: 076,	Loss: 2.9039,	Train: 1.1887, 	Val: 1.1942,	Test: 1.1939
Epoch: 077,	Loss: 2.9073,	Train: 1.1327, 	Val: 1.1378,	Test: 1.1384
Epoch: 078,	Loss: 2.9170,	Train: 1.1928, 	Val: 1.1984,	Test: 1.1983
Epoch: 079,	Loss: 2.9078,	Train: 1.1531, 	Val: 1.1594,	Test: 1.1588
Epoch: 080,	Loss: 2.9024,	Train: 1.1628, 	Val: 1.1693,	Test: 1.1686
Epoch: 081,	Loss: 2.9010,	Train: 1.1868, 	Val: 1.1927,	Test: 1.1925
Epoch: 082,	Loss: 2.9022,	Train: 1.1374, 	Val: 1.1428,	Test: 1.1434
Epoch: 083,	Loss: 2.9062,	Train: 1.1877, 	Val: 1.1932,	Test: 1.1933
Epoch: 084,	Loss: 2.9026,	Train: 1.1470, 	Val: 1.1531,	Test: 1.1531
Epoch: 085,	Loss: 2.8975,	Train: 1.1727, 	Val: 1.1791,	Test: 1.1787
Epoch: 086,	Loss: 2.8951,	Train: 1.1702, 	Val: 1.1766,	Test: 1.1763
Epoch: 087,	Loss: 2.8933,	Train: 1.1491, 	Val: 1.1551,	Test: 1.1552
Epoch: 088,	Loss: 2.8945,	Train: 1.1862, 	Val: 1.1921,	Test: 1.1920
Epoch: 089,	Loss: 2.8978,	Train: 1.1354, 	Val: 1.1417,	Test: 1.1415
Epoch: 090,	Loss: 2.9007,	Train: 1.1999, 	Val: 1.2065,	Test: 1.2057
Epoch: 091,	Loss: 2.9033,	Train: 1.1327, 	Val: 1.1395,	Test: 1.1389
Epoch: 092,	Loss: 2.9056,	Train: 1.1975, 	Val: 1.2035,	Test: 1.2037
Epoch: 093,	Loss: 2.8998,	Train: 1.1379, 	Val: 1.1436,	Test: 1.1443
Epoch: 094,	Loss: 2.8973,	Train: 1.1869, 	Val: 1.1930,	Test: 1.1933
Epoch: 095,	Loss: 2.8929,	Train: 1.1447, 	Val: 1.1514,	Test: 1.1511
Epoch: 096,	Loss: 2.8915,	Train: 1.1824, 	Val: 1.1891,	Test: 1.1885
Epoch: 097,	Loss: 2.8899,	Train: 1.1441, 	Val: 1.1507,	Test: 1.1504
Epoch: 098,	Loss: 2.8891,	Train: 1.1840, 	Val: 1.1904,	Test: 1.1901
Epoch: 099,	Loss: 2.8896,	Train: 1.1374, 	Val: 1.1439,	Test: 1.1438
Epoch: 100,	Loss: 2.8921,	Train: 1.2018, 	Val: 1.2085,	Test: 1.2082
Epoch: 101,	Loss: 2.8981,	Train: 1.1206, 	Val: 1.1275,	Test: 1.1270
Epoch: 102,	Loss: 2.9124,	Train: 1.2308, 	Val: 1.2372,	Test: 1.2369
Epoch: 103,	Loss: 2.9241,	Train: 1.0996, 	Val: 1.1057,	Test: 1.1059
Epoch: 104,	Loss: 2.9590,	Train: 1.2627, 	Val: 1.2686,	Test: 1.2684
Epoch: 105,	Loss: 2.9646,	Train: 1.1006, 	Val: 1.1067,	Test: 1.1067
Epoch: 106,	Loss: 2.9671,	Train: 1.2153, 	Val: 1.2209,	Test: 1.2214
Epoch: 107,	Loss: 2.9094,	Train: 1.1676, 	Val: 1.1731,	Test: 1.1739
Epoch: 108,	Loss: 2.8820,	Train: 1.1202, 	Val: 1.1258,	Test: 1.1263
Epoch: 109,	Loss: 2.9063,	Train: 1.2583, 	Val: 1.2650,	Test: 1.2627
Epoch: 110,	Loss: 2.9660,	Train: 1.0816, 	Val: 1.0883,	Test: 1.0873
Epoch: 111,	Loss: 3.1113,	Train: 1.2866, 	Val: 1.2917,	Test: 1.2934
Epoch: 112,	Loss: 3.0121,	Train: 1.1858, 	Val: 1.1899,	Test: 1.1922
Epoch: 113,	Loss: 2.9072,	Train: 1.0889, 	Val: 1.0925,	Test: 1.0945
Epoch: 114,	Loss: 3.0219,	Train: 1.2701, 	Val: 1.2752,	Test: 1.2756
Epoch: 115,	Loss: 2.9753,	Train: 1.1525, 	Val: 1.1591,	Test: 1.1580
Epoch: 116,	Loss: 2.8870,	Train: 1.1125, 	Val: 1.1193,	Test: 1.1177
Epoch: 117,	Loss: 2.9309,	Train: 1.2670, 	Val: 1.2732,	Test: 1.2702
Epoch: 118,	Loss: 2.9918,	Train: 1.0885, 	Val: 1.0926,	Test: 1.0939
Epoch: 119,	Loss: 3.0161,	Train: 1.1882, 	Val: 1.1913,	Test: 1.1947
Epoch: 120,	Loss: 2.9178,	Train: 1.2738, 	Val: 1.2764,	Test: 1.2808
Epoch: 121,	Loss: 3.0090,	Train: 1.1193, 	Val: 1.1232,	Test: 1.1253
Epoch: 122,	Loss: 2.9583,	Train: 1.1215, 	Val: 1.1254,	Test: 1.1277
Epoch: 123,	Loss: 2.9357,	Train: 1.2625, 	Val: 1.2668,	Test: 1.2685
Epoch: 124,	Loss: 2.9669,	Train: 1.1560, 	Val: 1.1610,	Test: 1.1617
Epoch: 125,	Loss: 2.8815,	Train: 1.1045, 	Val: 1.1099,	Test: 1.1095
Epoch: 126,	Loss: 2.9438,	Train: 1.2370, 	Val: 1.2442,	Test: 1.2396
Epoch: 127,	Loss: 2.9609,	Train: 1.1199, 	Val: 1.1255,	Test: 1.1253
Epoch: 128,	Loss: 2.9153,	Train: 1.1594, 	Val: 1.1639,	Test: 1.1652
Epoch: 129,	Loss: 2.9007,	Train: 1.2276, 	Val: 1.2308,	Test: 1.2338
Epoch: 130,	Loss: 2.9398,	Train: 1.1593, 	Val: 1.1622,	Test: 1.1653
Epoch: 131,	Loss: 2.9077,	Train: 1.1246, 	Val: 1.1275,	Test: 1.1303
Epoch: 132,	Loss: 2.9185,	Train: 1.1909, 	Val: 1.1953,	Test: 1.1969
Epoch: 133,	Loss: 2.8889,	Train: 1.1980, 	Val: 1.2040,	Test: 1.2029
Epoch: 134,	Loss: 2.8969,	Train: 1.1124, 	Val: 1.1190,	Test: 1.1175
Epoch: 135,	Loss: 2.9272,	Train: 1.1702, 	Val: 1.1769,	Test: 1.1748
Epoch: 136,	Loss: 2.8869,	Train: 1.2023, 	Val: 1.2084,	Test: 1.2074
Epoch: 137,	Loss: 2.8958,	Train: 1.1251, 	Val: 1.1297,	Test: 1.1311
Epoch: 138,	Loss: 2.8973,	Train: 1.1558, 	Val: 1.1596,	Test: 1.1619
Epoch: 139,	Loss: 2.8857,	Train: 1.2117, 	Val: 1.2155,	Test: 1.2181
Epoch: 140,	Loss: 2.9071,	Train: 1.1482, 	Val: 1.1526,	Test: 1.1543
Epoch: 141,	Loss: 2.8822,	Train: 1.1340, 	Val: 1.1395,	Test: 1.1399
Epoch: 142,	Loss: 2.8821,	Train: 1.2015, 	Val: 1.2081,	Test: 1.2062
Epoch: 143,	Loss: 2.8935,	Train: 1.1409, 	Val: 1.1476,	Test: 1.1461
Epoch: 144,	Loss: 2.8782,	Train: 1.1388, 	Val: 1.1453,	Test: 1.1444
Epoch: 145,	Loss: 2.8763,	Train: 1.1968, 	Val: 1.2028,	Test: 1.2024
Epoch: 146,	Loss: 2.8832,	Train: 1.1467, 	Val: 1.1518,	Test: 1.1532
Epoch: 147,	Loss: 2.8716,	Train: 1.1441, 	Val: 1.1489,	Test: 1.1507
Epoch: 148,	Loss: 2.8746,	Train: 1.1882, 	Val: 1.1934,	Test: 1.1949
Epoch: 149,	Loss: 2.8773,	Train: 1.1566, 	Val: 1.1623,	Test: 1.1632
Epoch: 150,	Loss: 2.8662,	Train: 1.1403, 	Val: 1.1467,	Test: 1.1464
Epoch: 151,	Loss: 2.8684,	Train: 1.1806, 	Val: 1.1875,	Test: 1.1858
Epoch: 152,	Loss: 2.8732,	Train: 1.1407, 	Val: 1.1476,	Test: 1.1465
Epoch: 153,	Loss: 2.8679,	Train: 1.1552, 	Val: 1.1620,	Test: 1.1612
Epoch: 154,	Loss: 2.8623,	Train: 1.1777, 	Val: 1.1842,	Test: 1.1838
Epoch: 155,	Loss: 2.8658,	Train: 1.1418, 	Val: 1.1478,	Test: 1.1484
Epoch: 156,	Loss: 2.8661,	Train: 1.1604, 	Val: 1.1665,	Test: 1.1670
Epoch: 157,	Loss: 2.8616,	Train: 1.1730, 	Val: 1.1794,	Test: 1.1793
Epoch: 158,	Loss: 2.8623,	Train: 1.1384, 	Val: 1.1450,	Test: 1.1447
Epoch: 159,	Loss: 2.8631,	Train: 1.1684, 	Val: 1.1754,	Test: 1.1741
Epoch: 160,	Loss: 2.8608,	Train: 1.1539, 	Val: 1.1611,	Test: 1.1600
Epoch: 161,	Loss: 2.8580,	Train: 1.1483, 	Val: 1.1552,	Test: 1.1547
Epoch: 162,	Loss: 2.8574,	Train: 1.1720, 	Val: 1.1786,	Test: 1.1784
Epoch: 163,	Loss: 2.8584,	Train: 1.1456, 	Val: 1.1518,	Test: 1.1524
Epoch: 164,	Loss: 2.8575,	Train: 1.1606, 	Val: 1.1670,	Test: 1.1673
Epoch: 165,	Loss: 2.8549,	Train: 1.1630, 	Val: 1.1698,	Test: 1.1694
Epoch: 166,	Loss: 2.8541,	Train: 1.1429, 	Val: 1.1500,	Test: 1.1494
Epoch: 167,	Loss: 2.8553,	Train: 1.1705, 	Val: 1.1777,	Test: 1.1766
Epoch: 168,	Loss: 2.8558,	Train: 1.1400, 	Val: 1.1468,	Test: 1.1467
Epoch: 169,	Loss: 2.8548,	Train: 1.1689, 	Val: 1.1755,	Test: 1.1754
Epoch: 170,	Loss: 2.8529,	Train: 1.1498, 	Val: 1.1561,	Test: 1.1566
Epoch: 171,	Loss: 2.8511,	Train: 1.1564, 	Val: 1.1628,	Test: 1.1631
Epoch: 172,	Loss: 2.8499,	Train: 1.1625, 	Val: 1.1691,	Test: 1.1690
Epoch: 173,	Loss: 2.8494,	Train: 1.1444, 	Val: 1.1509,	Test: 1.1510
Epoch: 174,	Loss: 2.8496,	Train: 1.1687, 	Val: 1.1755,	Test: 1.1749
Epoch: 175,	Loss: 2.8501,	Train: 1.1376, 	Val: 1.1443,	Test: 1.1442
Epoch: 176,	Loss: 2.8508,	Train: 1.1774, 	Val: 1.1842,	Test: 1.1835
Epoch: 177,	Loss: 2.8518,	Train: 1.1324, 	Val: 1.1387,	Test: 1.1392
Epoch: 178,	Loss: 2.8532,	Train: 1.1820, 	Val: 1.1884,	Test: 1.1884
Epoch: 179,	Loss: 2.8528,	Train: 1.1325, 	Val: 1.1387,	Test: 1.1394
Epoch: 180,	Loss: 2.8516,	Train: 1.1789, 	Val: 1.1855,	Test: 1.1852
Epoch: 181,	Loss: 2.8501,	Train: 1.1318, 	Val: 1.1381,	Test: 1.1387
Epoch: 182,	Loss: 2.8500,	Train: 1.1826, 	Val: 1.1891,	Test: 1.1888
Epoch: 183,	Loss: 2.8513,	Train: 1.1219, 	Val: 1.1278,	Test: 1.1289
Epoch: 184,	Loss: 2.8571,	Train: 1.2039, 	Val: 1.2103,	Test: 1.2101
Epoch: 185,	Loss: 2.8656,	Train: 1.1045, 	Val: 1.1101,	Test: 1.1115
Epoch: 186,	Loss: 2.8852,	Train: 1.2349, 	Val: 1.2410,	Test: 1.2410
Epoch: 187,	Loss: 2.8983,	Train: 1.0946, 	Val: 1.1002,	Test: 1.1013
Epoch: 188,	Loss: 2.9135,	Train: 1.2293, 	Val: 1.2352,	Test: 1.2354
Epoch: 189,	Loss: 2.8914,	Train: 1.1150, 	Val: 1.1205,	Test: 1.1218
Epoch: 190,	Loss: 2.8654,	Train: 1.1701, 	Val: 1.1761,	Test: 1.1766
Epoch: 191,	Loss: 2.8420,	Train: 1.1683, 	Val: 1.1745,	Test: 1.1746
Epoch: 192,	Loss: 2.8409,	Train: 1.1151, 	Val: 1.1212,	Test: 1.1220
Epoch: 193,	Loss: 2.8598,	Train: 1.2256, 	Val: 1.2325,	Test: 1.2310
Epoch: 194,	Loss: 2.8884,	Train: 1.0857, 	Val: 1.0908,	Test: 1.0924
Epoch: 195,	Loss: 2.9382,	Train: 1.2515, 	Val: 1.2566,	Test: 1.2584
Epoch: 196,	Loss: 2.9199,	Train: 1.1250, 	Val: 1.1299,	Test: 1.1317
Epoch: 197,	Loss: 2.8607,	Train: 1.1312, 	Val: 1.1360,	Test: 1.1379
Epoch: 198,	Loss: 2.8493,	Train: 1.2352, 	Val: 1.2410,	Test: 1.2402
Epoch: 199,	Loss: 2.8989,	Train: 1.0843, 	Val: 1.0898,	Test: 1.0908
Epoch: 200,	Loss: 2.9369,	Train: 1.2183, 	Val: 1.2248,	Test: 1.2235
Epoch: 201,	Loss: 2.8787,	Train: 1.1437, 	Val: 1.1496,	Test: 1.1502
Epoch: 202,	Loss: 2.8385,	Train: 1.1211, 	Val: 1.1261,	Test: 1.1279
Epoch: 203,	Loss: 2.8531,	Train: 1.2141, 	Val: 1.2191,	Test: 1.2208
Epoch: 204,	Loss: 2.8717,	Train: 1.1168, 	Val: 1.1210,	Test: 1.1237
Epoch: 205,	Loss: 2.8556,	Train: 1.1556, 	Val: 1.1613,	Test: 1.1624
Epoch: 206,	Loss: 2.8340,	Train: 1.1843, 	Val: 1.1910,	Test: 1.1903
Epoch: 207,	Loss: 2.8469,	Train: 1.1075, 	Val: 1.1134,	Test: 1.1144
Epoch: 208,	Loss: 2.8663,	Train: 1.1945, 	Val: 1.2002,	Test: 1.2007
Epoch: 209,	Loss: 2.8517,	Train: 1.1410, 	Val: 1.1455,	Test: 1.1480
Epoch: 210,	Loss: 2.8346,	Train: 1.1339, 	Val: 1.1383,	Test: 1.1408
Epoch: 211,	Loss: 2.8377,	Train: 1.1900, 	Val: 1.1953,	Test: 1.1966
Epoch: 212,	Loss: 2.8463,	Train: 1.1257, 	Val: 1.1313,	Test: 1.1325
Epoch: 213,	Loss: 2.8402,	Train: 1.1557, 	Val: 1.1616,	Test: 1.1621
Epoch: 214,	Loss: 2.8302,	Train: 1.1683, 	Val: 1.1740,	Test: 1.1745
Epoch: 215,	Loss: 2.8339,	Train: 1.1179, 	Val: 1.1230,	Test: 1.1249
Epoch: 216,	Loss: 2.8431,	Train: 1.1886, 	Val: 1.1942,	Test: 1.1952
Epoch: 217,	Loss: 2.8422,	Train: 1.1315, 	Val: 1.1366,	Test: 1.1387
Epoch: 218,	Loss: 2.8337,	Train: 1.1517, 	Val: 1.1568,	Test: 1.1590
Epoch: 219,	Loss: 2.8270,	Train: 1.1726, 	Val: 1.1778,	Test: 1.1796
Epoch: 220,	Loss: 2.8311,	Train: 1.1188, 	Val: 1.1241,	Test: 1.1261
Epoch: 221,	Loss: 2.8385,	Train: 1.1870, 	Val: 1.1934,	Test: 1.1933
Epoch: 222,	Loss: 2.8402,	Train: 1.1172, 	Val: 1.1231,	Test: 1.1245
Epoch: 223,	Loss: 2.8395,	Train: 1.1767, 	Val: 1.1824,	Test: 1.1838
Epoch: 224,	Loss: 2.8305,	Train: 1.1425, 	Val: 1.1473,	Test: 1.1499
Epoch: 225,	Loss: 2.8241,	Train: 1.1422, 	Val: 1.1471,	Test: 1.1495
Epoch: 226,	Loss: 2.8228,	Train: 1.1719, 	Val: 1.1778,	Test: 1.1790
Epoch: 227,	Loss: 2.8263,	Train: 1.1227, 	Val: 1.1288,	Test: 1.1300
Epoch: 228,	Loss: 2.8307,	Train: 1.1803, 	Val: 1.1867,	Test: 1.1868
Epoch: 229,	Loss: 2.8317,	Train: 1.1176, 	Val: 1.1230,	Test: 1.1251
Epoch: 230,	Loss: 2.8334,	Train: 1.1850, 	Val: 1.1906,	Test: 1.1921
Epoch: 231,	Loss: 2.8320,	Train: 1.1222, 	Val: 1.1272,	Test: 1.1296
Epoch: 232,	Loss: 2.8295,	Train: 1.1727, 	Val: 1.1782,	Test: 1.1800
Epoch: 233,	Loss: 2.8235,	Train: 1.1385, 	Val: 1.1440,	Test: 1.1459
Epoch: 234,	Loss: 2.8182,	Train: 1.1486, 	Val: 1.1544,	Test: 1.1557
Epoch: 235,	Loss: 2.8162,	Train: 1.1533, 	Val: 1.1591,	Test: 1.1603
Epoch: 236,	Loss: 2.8161,	Train: 1.1327, 	Val: 1.1381,	Test: 1.1400
Epoch: 237,	Loss: 2.8176,	Train: 1.1739, 	Val: 1.1794,	Test: 1.1810
Epoch: 238,	Loss: 2.8214,	Train: 1.1182, 	Val: 1.1232,	Test: 1.1257
Epoch: 239,	Loss: 2.8285,	Train: 1.1946, 	Val: 1.2000,	Test: 1.2017
Epoch: 240,	Loss: 2.8350,	Train: 1.1020, 	Val: 1.1066,	Test: 1.1094
Epoch: 241,	Loss: 2.8483,	Train: 1.2224, 	Val: 1.2282,	Test: 1.2287
Epoch: 242,	Loss: 2.8644,	Train: 1.0828, 	Val: 1.0880,	Test: 1.0902
Epoch: 243,	Loss: 2.9053,	Train: 1.2647, 	Val: 1.2704,	Test: 1.2710
Epoch: 244,	Loss: 2.9235,	Train: 1.0780, 	Val: 1.0829,	Test: 1.0852
Epoch: 245,	Loss: 2.9420,	Train: 1.2279, 	Val: 1.2321,	Test: 1.2351
Epoch: 246,	Loss: 2.8710,	Train: 1.1408, 	Val: 1.1450,	Test: 1.1481
Epoch: 247,	Loss: 2.8171,	Train: 1.1102, 	Val: 1.1150,	Test: 1.1172
Epoch: 248,	Loss: 2.8336,	Train: 1.2358, 	Val: 1.2420,	Test: 1.2399
Epoch: 249,	Loss: 2.8909,	Train: 1.0732, 	Val: 1.0784,	Test: 1.0804
Epoch: 250,	Loss: 2.9650,	Train: 1.2493, 	Val: 1.2538,	Test: 1.2568
Epoch: 251,	Loss: 2.9005,	Train: 1.1475, 	Val: 1.1514,	Test: 1.1552
Epoch: 252,	Loss: 2.8232,	Train: 1.0958, 	Val: 1.0993,	Test: 1.1030
Epoch: 253,	Loss: 2.8678,	Train: 1.2461, 	Val: 1.2513,	Test: 1.2514
Epoch: 254,	Loss: 2.8980,	Train: 1.0976, 	Val: 1.1025,	Test: 1.1046
Epoch: 255,	Loss: 2.8568,	Train: 1.1422, 	Val: 1.1476,	Test: 1.1489
Epoch: 256,	Loss: 2.8127,	Train: 1.2149, 	Val: 1.2201,	Test: 1.2207
Epoch: 257,	Loss: 2.8560,	Train: 1.0925, 	Val: 1.0964,	Test: 1.0995
Epoch: 258,	Loss: 2.8708,	Train: 1.1633, 	Val: 1.1669,	Test: 1.1704
Epoch: 259,	Loss: 2.8162,	Train: 1.2046, 	Val: 1.2088,	Test: 1.2114
Epoch: 260,	Loss: 2.8429,	Train: 1.0961, 	Val: 1.1006,	Test: 1.1032
Epoch: 261,	Loss: 2.8590,	Train: 1.1604, 	Val: 1.1657,	Test: 1.1668
Epoch: 262,	Loss: 2.8135,	Train: 1.1891, 	Val: 1.1944,	Test: 1.1948
Epoch: 263,	Loss: 2.8317,	Train: 1.0954, 	Val: 1.0997,	Test: 1.1024
Epoch: 264,	Loss: 2.8568,	Train: 1.1713, 	Val: 1.1754,	Test: 1.1783
Epoch: 265,	Loss: 2.8162,	Train: 1.1867, 	Val: 1.1909,	Test: 1.1937
Epoch: 266,	Loss: 2.8255,	Train: 1.1017, 	Val: 1.1059,	Test: 1.1089
Epoch: 267,	Loss: 2.8444,	Train: 1.1629, 	Val: 1.1676,	Test: 1.1696
Epoch: 268,	Loss: 2.8111,	Train: 1.1785, 	Val: 1.1838,	Test: 1.1848
Epoch: 269,	Loss: 2.8200,	Train: 1.1011, 	Val: 1.1058,	Test: 1.1084
Epoch: 270,	Loss: 2.8408,	Train: 1.1709, 	Val: 1.1757,	Test: 1.1779
Epoch: 271,	Loss: 2.8129,	Train: 1.1702, 	Val: 1.1747,	Test: 1.1774
Epoch: 272,	Loss: 2.8121,	Train: 1.1072, 	Val: 1.1116,	Test: 1.1147
Epoch: 273,	Loss: 2.8304,	Train: 1.1715, 	Val: 1.1761,	Test: 1.1787
Epoch: 274,	Loss: 2.8119,	Train: 1.1576, 	Val: 1.1624,	Test: 1.1649
Epoch: 275,	Loss: 2.8056,	Train: 1.1119, 	Val: 1.1167,	Test: 1.1195
Epoch: 276,	Loss: 2.8205,	Train: 1.1775, 	Val: 1.1826,	Test: 1.1845
Epoch: 277,	Loss: 2.8146,	Train: 1.1398, 	Val: 1.1445,	Test: 1.1473
Epoch: 278,	Loss: 2.8027,	Train: 1.1263, 	Val: 1.1308,	Test: 1.1339
Epoch: 279,	Loss: 2.8072,	Train: 1.1769, 	Val: 1.1817,	Test: 1.1843
Epoch: 280,	Loss: 2.8125,	Train: 1.1251, 	Val: 1.1297,	Test: 1.1327
Epoch: 281,	Loss: 2.8064,	Train: 1.1446, 	Val: 1.1495,	Test: 1.1522
Epoch: 282,	Loss: 2.8001,	Train: 1.1647, 	Val: 1.1700,	Test: 1.1721
Epoch: 283,	Loss: 2.8047,	Train: 1.1176, 	Val: 1.1226,	Test: 1.1255
Epoch: 284,	Loss: 2.8100,	Train: 1.1675, 	Val: 1.1725,	Test: 1.1751
Epoch: 285,	Loss: 2.8047,	Train: 1.1399, 	Val: 1.1447,	Test: 1.1478
Epoch: 286,	Loss: 2.7986,	Train: 1.1332, 	Val: 1.1380,	Test: 1.1412
Epoch: 287,	Loss: 2.7996,	Train: 1.1674, 	Val: 1.1725,	Test: 1.1750
Epoch: 288,	Loss: 2.8036,	Train: 1.1209, 	Val: 1.1258,	Test: 1.1288
Epoch: 289,	Loss: 2.8047,	Train: 1.1621, 	Val: 1.1673,	Test: 1.1697
Epoch: 290,	Loss: 2.8003,	Train: 1.1388, 	Val: 1.1438,	Test: 1.1466
Epoch: 291,	Loss: 2.7963,	Train: 1.1372, 	Val: 1.1421,	Test: 1.1450
Epoch: 292,	Loss: 2.7962,	Train: 1.1610, 	Val: 1.1659,	Test: 1.1686
Epoch: 293,	Loss: 2.7985,	Train: 1.1239, 	Val: 1.1297,	Test: 1.1313
Epoch: 294,	Loss: 2.8061,	Train: 1.1700, 	Val: 1.1756,	Test: 1.1771

In [29]:
# from torch_geometric.nn import SAGEConv, GATConv, Linear, to_hetero


# class GNN(torch.nn.Module):
#     def __init__(self, hidden_channels, out_channels):
#         super().__init__()
#         self.conv1 = SAGEConv((-1, -1), hidden_channels)
#         self.conv2 = SAGEConv((-1, -1), out_channels)

#     def forward(self, x, edge_index):
#         x = self.conv1(x, edge_index).relu()
#         x = self.conv2(x, edge_index)
#         return x


# class GAT(torch.nn.Module):
#     def __init__(self, hidden_channels, out_channels):
#         super().__init__()
#         self.conv1 = GATConv((-1, -1), hidden_channels, add_self_loops=False)
#         self.lin1 = Linear(-1, hidden_channels)
#         self.conv2 = GATConv((-1, -1), out_channels, add_self_loops=False)
#         self.lin2 = Linear(-1, out_channels)

#     def forward(self, x, edge_index):
#         x = self.conv1(x, edge_index) + self.lin1(x)
#         x = x.relu()
#         x = self.conv2(x, edge_index) + self.lin2(x)
#         return x


# gnn_model = GNN(hidden_channels=64, out_channels=1)
# gnn_model = to_hetero(gnn_model, data.metadata(), aggr='sum')

# gat_model = GAT(hidden_channels=64, out_channels=1)
# gat_model = to_hetero(gat_model, data.metadata(), aggr='sum')

In [30]:
model = gnn_model

In [31]:
def train(model, optimizer, loss_f):
    model.train()
    optimizer.zero_grad()
    out = model(data.x_dict, data.edge_index_dict)
    mask = data['paper'].train_mask
    loss = loss_f
    loss.backward()
    optimizer.step()
    return float(loss)

In [32]:
with torch.no_grad():  # Initialize lazy modules.
     out = model(data.x_dict, data.edge_index_dict)
     out

In [33]:
data.edge_index_dict

{('user',
  'rates',
  'movie'): tensor([[ 195,  185,   21,  ...,  275,   12,   11],
         [ 241,  301,  376,  ..., 1089,  224,  202]]),
 ('movie',
  'rev_rates',
  'user'): tensor([[ 241,  301,  376,  ..., 1089,  224,  202],
         [ 195,  185,   21,  ...,  275,   12,   11]])}

In [34]:
train_loader = LinkNeighborLoader(
    train_data,
    # Sample 15 neighbors for each node and each edge type for 2 iterations:
    num_neighbors=[4] * 2,
    # Use a batch size of 128 for sampling training nodes of type "paper":
    batch_size=4,
    edge_label_index=(('user', 'rates', 'movie'), train_data[('user', 'rates', 'movie')].edge_label_index), 
    edge_label=train_data[('user', 'rates', 'movie')].edge_label
    )

batch = next(iter(train_loader))

In [35]:
batch

HeteroData(
  user={ x=[73, 3] },
  movie={ x=[69, 19] },
  (user, rates, movie)={
    edge_index=[2, 75],
    edge_attr=[75, 1],
    edge_label=[4],
    edge_label_index=[2, 4]
  },
  (movie, rev_rates, user)={
    edge_index=[2, 76],
    edge_attr=[76, 1]
  }
)

In [36]:
batch[('user', 'rates', 'movie')].edge_attr

tensor([[2.],
        [3.],
        [3.],
        [3.],
        [3.],
        [4.],
        [4.],
        [5.],
        [5.],
        [5.],
        [4.],
        [3.],
        [5.],
        [5.],
        [4.],
        [4.],
        [1.],
        [4.],
        [2.],
        [5.],
        [2.],
        [4.],
        [4.],
        [3.],
        [5.],
        [1.],
        [3.],
        [2.],
        [3.],
        [2.],
        [5.],
        [4.],
        [4.],
        [3.],
        [5.],
        [3.],
        [3.],
        [4.],
        [5.],
        [3.],
        [3.],
        [4.],
        [4.],
        [3.],
        [3.],
        [4.],
        [5.],
        [4.],
        [3.],
        [5.],
        [3.],
        [5.],
        [4.],
        [4.],
        [3.],
        [3.],
        [3.],
        [2.],
        [3.],
        [3.],
        [3.],
        [5.],
        [3.],
        [2.],
        [4.],
        [3.],
        [4.],
        [3.],
        [2.],
        [4.],
        [3.],
        [3.],
        [4.],
        [4.],
        [5.]])

In [37]:
train_data.edge_label

AttributeError: 'HeteroData' has no attribute 'edge_label'