In [3]:
from neo4j import GraphDatabase
import pandas as pd

In [39]:
user = 'neo4j'
pwd = 'fighters-mats-cracks'
url = 'bolt://35.170.72.5:7687'

driver = GraphDatabase.driver(uri=url, auth=(user, pwd))


def fetch_data(query):
  with driver.session() as session:
    result = session.run(query)
    return pd.DataFrame([r.values() for r in result], columns=result.keys())

In [44]:
user_name = "Cynthia Freeman"
query = f"""
MATCH (u:User) -[:RATED]-> (m:Movie)
WHERE u.name = '{user_name}'
RETURN u.name, m.title
LIMIT 20
"""

df_result = fetch_data(query)
df_result.head()

            u.name                         m.title
0  Cynthia Freeman         While You Were Sleeping
1  Cynthia Freeman                         Jumanji
2  Cynthia Freeman     Father of the Bride Part II
3  Cynthia Freeman                       GoldenEye
4  Cynthia Freeman  Ace Ventura: When Nature Calls

In [45]:
query = """
MATCH (u:User) -[r:RATED]-> (m:Movie)
RETURN toInteger(u.userId) AS userId, 
    toInteger(m.movieId) AS movieId, 
    m.imdbRating AS imdbRating, 
    m.imdbVotes AS imdbVotes, 
    m.year AS year,
    m.fastrp as fastrp,
    r.rating as rating
LIMIT 10
"""

df_result = fetch_data(query)
df_result.head()

,userId,movieId,imdbRating,imdbVotes,year,fastrp,rating
0,1,2294,6.6,121547,1998,"[0.4779580235481262, 0.5935469269752502, -0.08...",2.0
1,1,2455,7.5,113557,1986,"[-0.169125035405159, 0.614031195640564, -0.173...",2.5
2,1,2968,7.0,44586,1981,"[-0.5034560561180115, 0.49252572655677795, 0.3...",1.0
3,1,3671,7.8,91977,1974,"[-0.8928976655006409, 0.47659292817115784, 0.3...",3.0
4,1,1953,7.8,79239,1971,"[-0.5249751806259155, -0.6481949090957642, -0....",4.0

In [46]:
df_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   userId      10 non-null     int64
 1   movieId     10 non-null     int64
 2   imdbRating  10 non-null     float64
 3   imdbVotes   10 non-null     int64
 4   year        10 non-null     int64
 5   fastrp      10 non-null     object
 6   rating      10 non-null     float64
dtypes: float64(2), int64(4), object(1)
memory usage: 688.0+ bytes

In [56]:
genre_1 = []
genre_2 = []
genre_3 = []

for genre in df['genres']:
    genres = genre.split('|')
    # [genres.append('~') for _ in range(3)]
    genres = genres * 3
    # print(genres)
    
    genre_1.append(genres[0])
    genre_2.append(genres[1])
    genre_3.append(genres[2])

df['genre_1'] = pd.Series(genre_1)
df['genre_2'] = pd.Series(genre_2)
df['genre_3'] = pd.Series(genre_3)
df.head()

,movieId,title,genres,year,genre_1,genre_2,genre_3
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,Adventure,Animation,Children
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,Adventure,Children,Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,Comedy,Romance,Comedy
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995,Comedy,Drama,Romance
4,5,Father of the Bride Part II (1995),Comedy,1995,Comedy,Comedy,Comedy

In [53]:
[1,2] * 5

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [6]:
genres = df['genres']
genres

0       Adventure|Animation|Children|Comedy|Fantasy
1                        Adventure|Children|Fantasy
2                                    Comedy|Romance
3                              Comedy|Drama|Romance
4                                            Comedy
                           ...
9737                Action|Animation|Comedy|Fantasy
9738                       Animation|Comedy|Fantasy
9739                                          Drama
9740                               Action|Animation
9741                                         Comedy
Name: genres, Length: 9742, dtype: object

In [18]:
genres = []
num_genres_per_movie = []

for genre in df['genres'][:10]:
    for g in genre.split('|'):
        genres.append(g)
        num_genres_per_movie.append(len(genre.split('|')))


len(genres), len(set(genres))

(25, 10)

In [20]:
sum(num_genres_per_movie) /len(num_genres_per_movie)

3.0

In [19]:
num_genres_per_movie

[5, 5, 5, 5, 5, 3, 3, 3, 2, 2, 3, 3, 3, 1, 3, 3, 3, 2, 2, 2, 2, 1, 3, 3, 3]

In [1]:
oh_length = 10
ex_genres = [1, 5, 9]

In [4]:
import numpy as np
from torch.nn import functional as F

import torch

In [22]:
a = np.array([[1,2,4], [0,2], [4]])
a = torch.Tensor(a).to(torch.long)
a

C:\Users\roman\AppData\Local\Temp\ipykernel_25340\1589974030.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  a = np.array([[1,2,4], [0,2], [4]])

TypeError: can't convert np.ndarray of type numpy.object_. The only supported types are: float64, float32, float16, complex64, complex128, int64, int32, int16, int8, uint8, and bool.

In [18]:
F.one_hot(a, num_classes=5)

tensor([[0, 1, 0, 0, 0],
        [0, 0, 1, 0, 0],
        [0, 0, 0, 0, 1]])

In [15]:
torch.arange(0,5)

tensor([0, 1, 2, 3, 4])